body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  /*background: url("https://source.unsplash.com/category/food/1920x1080") no-repeat center center fixed;
  background-size: cover;*/
}

/* Bordered form */
form {
  margin: 8px 8px 8px 8px;
  background-color: transparent;
  margin: auto;
}

h1, h2, h3{
  text-align: center;
}

label {
  font-size: 16pt;
}

.login-screen {
  align-items: center;
  width: 600px;
  height: 500px;
}

.modal-buttons {
  background-color: rgb(224, 48, 191);
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 8px 8px 8px !important;
  border: none;
  cursor: pointer;
  float: right;
  width: 200px !important;
}

input {
    position: absolute;
    padding: 12px 20px;
    margin: 8px 8px 8px 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.max-width {
  max-width: 1200px;
  margin: auto;
}

.card-back {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 7rem;
  position: relative;
}

.card {
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
}

.card-hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-hover:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  outline: none;
}

.card-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

li {
  font-size: 18pt;
  font-weight: bold;
}

label {
  margin: 0 32px 0 0;
}

#add-ingredient {
  width: 50%;
  margin: 16px auto 16px 300px;
}

#login-button {
  position: absolute;
  right: 20px;
  bottom: 5px;
  padding: 10px;
  font-size: 12pt;
  background-color: rgba(255, 255, 255, 0.7)
}

#create-account {
  display: none !important;
}

#home-page {
  display: inline !important;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

.portfolio-header {
  position: relative;
  background-image: url('https://source.unsplash.com/category/food/1920x300');
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
  background: url(images/logo.png) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

/*Loading icon*/
.spinner {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fafafa;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 60px;
    margin-top: 150px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fafafa;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}




button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
