body {
  margin: auto;
  background-image: url("https://source.unsplash.com/category/food/1920x1080");
}

/* Bordered form */
form {
    margin: 0 20% 0 20%;
    background-color: transparent;
    margin: auto;
}

h1{
  text-align: center;
}

.login-screen {
  align-items: center;
  width: 600px;
  height: 500px;
}
/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 100%;
}


input[type=text], input[type=password] {
    position: absolute;
    width: 80%;
    padding: 12px 20px;
    margin: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px 8px 8px;
    border: none;
    cursor: pointer;
    float: left;
    width: 40%;
}

.card-rounded {
  background: #fff;
  border-radius: 72px;
  display: inline-block;
  margin: 1rem;
  position: relative;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
}

.card-hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-hover:focus {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  outline: none;
}

.card-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pre-login {
  display: inline;
}

.create-account {
  display: none !important;
}

.home-page {
  display: none !important;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
